/* navigation  */

body {
  display: contents;
}
#navigation {
  background-color: #a6d2d3;
}

.logo {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  padding: 10px;
  color: black;
  list-style: none;
  text-decoration: none;
}

.text-nav {
  text-align: center;
}

.img-1,
.img-2,
.img-3,
.img-4 {
  margin: 3rem;
}
.img-grid img {
  width: 100%;
}

/* animationer  */
.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 800px) {
  .img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
